<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<resource-ref>
		<description>javax.mail.Session mail reference</description>
		<res-ref-name>mail/MailServer</res-ref-name>
		<res-type>javax.mail.Session</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<filter>
		<filter-name>CorseFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorseFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>uta.mav.appoint.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>uta.mav.appoint.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>uta.mav.appoint.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CustomizeServlet</servlet-name>
		<servlet-class>uta.mav.appoint.CustomizeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomizeServlet</servlet-name>
		<url-pattern>/customize</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>uta.mav.appoint.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdvisingServlet</servlet-name>
		<servlet-class>uta.mav.appoint.AdvisingController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdvisingServlet</servlet-name>
		<url-pattern>/advising</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ScheduleAppointmentServlet</servlet-name>
		<servlet-class>uta.mav.appoint.ScheduleAppointmentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleAppointmentServlet</servlet-name>
		<url-pattern>/schedule</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewAppointmentServlet</servlet-name>
		<servlet-class>uta.mav.appoint.ViewAppointmentController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DeleteAdvisorServlet</servlet-name>
		<url-pattern>/deleteadvisor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteAdvisorServlet</servlet-name>
		<servlet-class>uta.mav.appoint.DeleteAdvisorController</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>ViewAppointmentServlet</servlet-name>
		<url-pattern>/appointments</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllocateTimeServlet</servlet-name>
		<servlet-class>uta.mav.appoint.AllocateTimeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllocateTimeServlet</servlet-name>
		<url-pattern>/availability</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManageAppointmentServlet</servlet-name>
		<servlet-class>uta.mav.appoint.ManageAppointmentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageAppointmentServlet</servlet-name>
		<url-pattern>/manage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManageTimeSlotServlet</servlet-name>
		<servlet-class>uta.mav.appoint.ManageTimeSlotController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageTimeSlotServlet</servlet-name>
		<url-pattern>/ts-manage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendEmailServlet</servlet-name>
		<servlet-class>uta.mav.appoint.SendEmailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendEmailServlet</servlet-name>
		<url-pattern>/notify</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendMeetingServlet</servlet-name>
		<servlet-class>uta.mav.appoint.SendMeetingController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendMeetingServlet</servlet-name>
		<url-pattern>/mail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateAdvisorServlet</servlet-name>
		<servlet-class>uta.mav.appoint.CreateAdvisorController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateAdvisorServlet</servlet-name>
		<url-pattern>/create_advisor</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<servlet-class>uta.mav.appoint.ChangePasswordController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/changePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddAppointmentServlet</servlet-name>
		<url-pattern>/add_app_type</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddAppointmentServlet</servlet-name>
		<servlet-class>uta.mav.appoint.AddAppointmentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AssignStudentsServlet</servlet-name>
		<url-pattern>/assign_students</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AssignStudentsServlet</servlet-name>
		<servlet-class>uta.mav.appoint.AssignStudentsController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UpdateNotificationServlet</servlet-name>
		<url-pattern>/updatenotification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateNotificationServlet</servlet-name>
		<servlet-class>uta.mav.appoint.UpdateNotificationController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ResetPasswordServlet</servlet-name>
		<url-pattern>/resetpassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResetPasswordServlet</servlet-name>
		<servlet-class>uta.mav.appoint.ResetPasswordController</servlet-class>
	</servlet>
	

</web-app>